# Python
__pycache__/
*.pyc

# Virtual environments
venv/
backend/venv/

# Environment variables
.env
backend/.env

# Databases
*.db

# Node
node_modules/
frontend/node_modules/

# Build artifacts
dist/
frontend/dist/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db